.commentWBBody{
    width: 100%;
    height: 100%;
    font-family: Arial,Helvetica,sans-serif;
}

.TopDiv{
    height: 100%;
}

.BottomDiv{
    height: 0%;
}

.CommentContainer{
    height: 100%;
    overflow-y:scroll;
    background-color: #E9E9E9;
    margin: 0 auto -25px;
}

.addCommentDiv{
    width:150px;
    margin-left: auto;
    margin-right: auto;
}

.addCommentDiv,.push{
    height: 25px;
}

.addCommentBtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 12px;
  padding: 3px 15px 3px 15px;
  text-decoration: none;
}

.addCommentBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.WBComment{
    border:3px solid #4e7bba;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px #7e7e7e;
    margin-bottom: 15px;
    margin-right: 5px;
    background-color: #f1f1f1;
}

.WBComment.currentUser{
    border:3px solid #ba4e7b;
}

.CommentUser{
    float:left;
    margin-left: 5px;
}

.CommentDate{
    float: right;
    margin-right: 5px;
}

.CommentTitle{
    border-bottom: 1px solid;
    height:20px;
    background-color: #4EB1BA;
    width: 100%;
}

.CommentBody{
    /*height:60px;*/
    padding-left: 5px;
}